.text{
    margin-top: 70px;
    margin-bottom: 50px;
    width: 450px;
    height: 550px;
    justify-content: center;
    text-align: center;
    border-radius: 20px ;   
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 9px 9px rgb(57, 57, 57);
    margin-left: 950px;
    background-color: rgb(255, 255, 255);
}