.add-florist-back{
  height: 100vh;
  background: url(http://localhost:5000/images/add_florist.webp);
  background-size: cover;
  padding-top: 5rem;
}

.add-florist-header{
  background: linear-gradient(to right, #0000007b, #0000007b), url(http://localhost:5000/images/add_florist.webp);
  padding: 5rem 3rem;
  background-size: cover;
  background-position: bottom;
  color: white;
  text-shadow: 2px 2px 1px black;
  background-attachment: fixed;
}